
.content-left{
    height: 500px;
    background-color: #f1f1f1;
}
.content-between{
    height: 500px;
    background-color: white;
}
.content-right{
    height: 500px;
    background-color: #f1f1f1;
}


.footer{
    height: 60px;
    background-color: #242222;
    margin-top: -18px;
}

.header-menu-left{
    height: 50px;
    background-color: black;
}
.header-menu-left ul{
    list-style-type: none;
}
.header-menu-left ul li {
    float: left;
    margin-right: 40px;
}
.header-menu-left ul li a{
    text-decoration: none;
    text-decoration: none;
    padding: 15px 15px;
    font-family: sans-serif;
    font-size: 18px;
    color: #afa9a9;;
}


.header-menu-right{
    height: 50px;
    background-color: black;
}
.header-menu-right a{
    text-decoration: none;
    position: relative;
    left: 210px;
    top: 11px;
    font-size: 18px;
    font-family: sans-serif;
    color: #afa9a9;
}
.header-menu-right img{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.content-left ul {
    margin-left: 40px;
    list-style-type: none;
    margin-top: 50px;
}
.content-left ul li{
    margin-bottom: 20px;
}
.content-left ul li a{
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    color: #4198bf;
}

.content-between-top {
    margin: 0px 10px 0px 10px;
}

.content-between-bottom {
    margin-left: 10px;
}
h1 ,h2{
    font-family: sans-serif;
    font-weight: revert;
    color: black;
}
.content-between-top p,.content-between-bottom p {
    font-size: 14px;
    font-family: sans-serif;
}
hr{
    color: #afa9a9;
}

.box-right{
    width: 170px;
    height: 100px;
    border: 1px solid slategrey;
    margin-left: 25px;
    margin-bottom: 19px;
    border-width: 2px;
    background-color: white;
    border-radius: 5px;

}
#content-right-one{
    margin-top: 40px;
}
h3 {
    text-align: center;
    margin-top: 37px;
    color: slategray;
    font-family: sans-serif;
}

.footer p{
    text-align: center;
    position: relative;
    top: 21px;
    font-size: 20px;
    color: #afa9a9;
    font-family: sans-serif;
}


/*màn hình điện thoại*/
@media only screen and (max-width:740px ){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333%;}
    .col-s-5 {width: 41.66667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333%;}
    .col-s-8 {width: 66.66667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333%;}
    .col-s-11 {width: 91.66667%;}
    .col-s-12 {width: 100%;}
}

/*Màn hinh laptop và máy tính bảng*/
@media only screen and (min-width:741px)and (max-width:1240px){
    .col-m-1 {width: 8.33333%;}
    .col-m-2 {width: 16.66667%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33333%;}
    .col-m-5 {width: 41.66667%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33333%;}
    .col-m-8 {width: 66.66667%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33333%;}
    .col-m-11 {width: 91.66667%;}
    .col-m-12 {width: 100%;}
}
/*Màn hình máy tính pc và tivi smart*/
@media only screen and (min-width:1241px){
    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66667%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33333%;}
    .col-l-5 {width: 41.66667%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33333%;}
    .col-l-8 {width: 66.66667%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33333%;}
    .col-l-11 {width: 91.66667%;}
    .col-l-12 {width: 100%;}
}

.row {
    /* dùng cho thẻ div trong 1 row sẽ nổi lên*/
    display: flex;
    /*Nếu như không đủ độ rộng thì nó sẽ rớt xuống*/
    flex-wrap: wrap;
}